body {
  padding: 10px;
}
.copy-container {
position: relative;
}

.to-copy {
  background: transparent;
  border: none;
  font: 400 13px Arial;
  color: #043467;
}
.to-copy-text {
  font: 400 13px Arial;
  margin-left: 1px;
  color: #043467;
}

#users > span {
  margin: 5px;
}

#alert {
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 2;
}